<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Site du Cellier Saint-Vincent">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-black">
    {{ partial:partials.header }}
    {{ partial:partials.livewire-styles }}
    <main class="mt-20 xl:mt-24">
        {{ template_content }}
    </main>
    {{ partial:partials.footer }}
    {{ partial:partials.livewire-scripts }}
    {{ partial:toast }}
    </body>
</html>
