<footer class="text-xs  leading-6 text-neutral-500 bg-neutral-950 py-8 px-8 xl:px-16 2xl:px-24">
    <div>
        {{ nav:legals }}
            <a href="{{ permalink }}" class="text-white">{{ title }}</a>
        {{ /nav:legals }}
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dignissimos ea eveniet molestias nemo officiis praesentium saepe. Aut doloremque eaque hic iste laboriosam molestiae obcaecati repellendus sed tempore voluptate! Aperiam assumenda consectetur consequuntur cumque eligendi excepturi iste magni nam natus officia placeat provident quam, quasi, quia repellendus saepe ut veniam! Ab cupiditate delectus ducimus itaque minus molestias natus quae sunt tempora. Ab architecto aspernatur, beatae consequuntur dignissimos eaque eveniet hic, illum magni officiis provident quam reprehenderit rerum, ullam unde. Culpa debitis, eius eos exercitationem illo, nemo odio pariatur quidem reiciendis sed sint temporibus vel voluptate! Corporis cupiditate odit rerum velit.</p>
</footer>
