<footer class="text-xs  leading-6 text-neutral-500 py-8 px-8 max-w-7xl mx-auto">
    <div class="border-t-1 border-brand pt-6">
        <li class="flex justify-center gap-4 text-center mb-4">
            {{ nav:legals }}
                <a href="{{ permalink }}" class="text-neutral-500">{{ title }}</a>
            {{ /nav:legals }}
        </li>
        <div class="text-center flex w-full justify-center gap-2">
            <a class="social-icon social-icon--facebook" href="">Facebook</a>
            <a class="social-icon social-icon--instagram" href="">Instagram</a>
            <a class="social-icon social-icon--snapchat" href="">Snapchat</a>
            <a class="social-icon social-icon--tiktok" href="">Tiktok</a>
        </div>
    </div>
</footer>
