<nav class="fixed top-0 left-0 w-[calc(100vw-0rem)] bg-neutral-950 z-50 lg:bg-neutral-950/90">
    <div class="h-16 lg:h-20 xl:h-24 flex lg:grid lg:grid-cols-[12rem_auto_12rem] items-center px-8 xl:px-16 2xl:px-24">

        <div id="logo" class="text-xl font-bold h-16 xl:h-24 w-48"></div>

        <div class="w-full">
            <div class="hidden lg:flex items-center justify-center w-full h-16 lg:h-20 xl:h-24">
                {{ nav:top }}
                    <a href="{{ permalink }}" class="text-white font-semibold text-sm px-6 h-16 leading-16">{{ title }}</a>
                {{ /nav:top }}
            </div>
        </div>

        <div class="flex justify-end space-x-2">
            <div class="text-white  w-8 h-8 hidden lg:flex text-xs justify-center items-center bg-blue-600 rounded-full">FB</div>
            <div class="text-white bg-pink-600 w-8 h-8 hidden lg:flex text-xs justify-center items-center rounded-full">TT</div>
            <div class="text-white bg-rose-600 w-8 h-8 hidden lg:flex text-xs justify-center items-center rounded-full">IG</div>
            <div class="text-white bg-yellow-500 w-8 h-8 hidden lg:flex text-xs justify-center items-center rounded-full">SN</div>
            <button id="menu-btn" class="lg:hidden text-2xl text-white">☰</button>
        </div>
    </div>

    <!-- Menu mobile -->
    <div
        id="menu-mobile"
        class="lg:hidden overflow-hidden max-h-0 opacity-0
             transition-all duration-300 ease-in-out"
    >
        <div
            class="bg-neutral-950 border-t shadow
               max-h-[calc(100vh-4rem)] overflow-y-auto py-4"
        >
            {{ nav:top }}
                <a href="{{ permalink }}" class="block px-4 py-3 hover:bg-neutral-800 text-white text-center font-semibold text-lg">{{ title }}</a>
            {{ /nav:top }}
        </div>
    </div>
</nav>
