<nav class="fixed top-0 left-0 w-[calc(100vw-0rem)] bg-neutral-950 z-50 lg:bg-black/95">
    <div class="h-20 xl:h-24 grid grid-cols-[12rem_auto_12rem] items-center px-8 max-w-7xl mx-auto">

        <a id="logo" class="text-xl font-bold h-full block w-full" href="/"></a>
        <div class="w-full">
            <div class="hidden lg:flex items-center justify-center w-full h-20 xl:h-24">
                {{ nav:top }}
                    <a href="{{ permalink }}"
                       class="inline-block text-brand {{ if is_current }} text-white{{ /if }} font-semibold text-sm h-16 leading-16 px-4 xl:px-6">{{ title }}</a>
                {{ /nav:top }}
            </div>
        </div>

        <div class="flex justify-end space-x-2">
            {{ partial:partials.booking-form }}
            <button id="menu-btn" class="lg:hidden text-2xl text-white">☰</button>
        </div>
    </div>

    <!-- Menu mobile -->
    <div
        id="menu-mobile"
        class="lg:hidden overflow-hidden max-h-0 opacity-0
             transition-all duration-300 ease-in-out"
    >
        <div
            class="bg-neutral-950 border-t shadow
               max-h-[calc(100vh-4rem)] overflow-y-auto py-4"
        >
            {{ nav:top }}
                <a href="{{ permalink }}" class="block px-4 py-3 hover:bg-neutral-900 text-brand {{ if is_current }} text-white{{ /if }} text-center font-semibold text-lg">{{ title }}</a>
            {{ /nav:top }}
        </div>
    </div>
</nav>
