/auth.json
/node_modules
!/public/build
/public/hot
/public/static
/public/storage
/public/vendor/statamic
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Contenus (entries)
/content/collections/**/*
!/content/collections/*/*.yaml

/content/globals/**/*
/content/taxonomies/**/*
!/content/taxonomies/*.yaml

# Cache & runtime
/storage/**
/bootstrap/cache/**

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
*.log
.DS_Store
.env
.env.*
.phpactor.json
.phpunit.result.cache
