<div class="px-8 max-w-7xl mx-auto mb-16">
    <div class="flex lg:justify-center border-b-2 border-b-brand mb-4 flex-col py-6 lg:py-8">
        <h1>{{ title }}</h1>
    </div>
    {{ collection:galleries limit="6" as="galleries" sort="event_date:desc" }}
<div class="grid md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-1 lg:gap-1.5 xl:gap-2">
    {{ galleries }}
<a href="{{ url }}"
   class="text-white relative block rounded border-1 border-neutral-950 hover:border-brand transition duration-300 ease-in-out overflow-hidden">
    <div
        class="absolute bg-gradient-to-t from-black/90 from-20% to-neutral-900/10 to-80% w-full h-full p-6 flex flex-col justify-end rounded overflow-hidden space-y-2">
        <h3 class="text-2xl font-bold leading-6 mb-2">{{ title }}</h3>
        {{ if subtitle }}
            <div class="text-sm tracking-widest uppercase">{{ subtitle }}</div>
        {{ /if }}
        {{ if event_date !== null }}
            <div class="text-sm font-semibold">{{ event_date | iso_format='dddd D MMMM Y' }}</div>
        {{ /if }}
    </div>
    {{ photos limit="1" }}
<figure class="aspect-3/2 bg-neutral-800">
    {{ partial:components/picture
    :image="url"
    cover="true"
    lazy="true"
    sizes="(min-width: 768px) 33vw, 90vw"
    }}
    </figure>
        {{ /photos }}
    </a>
{{ /galleries }}

</div>

<div class="flex justify-between">
{{ paginate }}
            <div>
                {{ if prev_page }}<a href="{{ prev_page }}"
                                     class="text-brand text-xs uppercase font-semibold inline-block px-4 py-2 rounded-full border-1 border-brand hover:bg-brand hover:text-neutral-900 transition duration-200 ease-in-out"><i
                    class="ri-arrow-left-line"></i>&nbsp;Page précédente</a>{{ /if }}
            </div>
            <div>
                {{ if next_page }}<a href="{{ next_page }}"
                                     class="text-brand text-xs uppercase font-semibold inline-block px-4 py-2 rounded-full border-1 border-brand hover:bg-brand hover:text-neutral-900 transition duration-200 ease-in-out">Page
                    suivante&nbsp;<i class="ri-arrow-right-line"></i></a>{{ /if }}
            </div>
            {{ /paginate }}
        </div>
    {{ /collection:galleries }}

</div>
