@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

body {
    @apply text-neutral-100 leading-6;
}
p {
    @apply mb-5;
}
h1 {
    @apply text-white text-4xl lg:text-6xl font-bold;
    color: #ffc880;
}
h2 {
    @apply text-white text-3xl lg:text-3xl font-bold mb-3;
}
h3 {
    @apply text-2xl lg:text-2xl font-semibold;
    color: #ffc880;
}
#logo {
    background-image: url('../../public/logo/logo-w.svg');
    background-position: center center;
    background-repeat: no-repeat;
}
