name: Debug SSH

on:
  workflow_dispatch:

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Load SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Show loaded keys
        run: ssh-add -l

      - name: SSH test
        run: |
          ssh -vvv -o StrictHostKeyChecking=no deploy@${{ secrets.SSH_HOST }} "whoami"
